<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZSpriteMaker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ZSpriteMaker.Properties.Settings>
            <setting name="emulatorPath" serializeAs="String">
                <value />
            </setting>
            <setting name="romPath" serializeAs="String">
                <value />
            </setting>
            <setting name="asarPath" serializeAs="String">
                <value />
            </setting>
            <setting name="gridR" serializeAs="String">
                <value>224</value>
            </setting>
            <setting name="gridG" serializeAs="String">
                <value>224</value>
            </setting>
            <setting name="gridB" serializeAs="String">
                <value>224</value>
            </setting>
            <setting name="selR" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="selG" serializeAs="String">
                <value>222</value>
            </setting>
            <setting name="selB" serializeAs="String">
                <value>222</value>
            </setting>
            <setting name="showGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showBack" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="gridSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="snapGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="snapSize" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="showOnion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showCenter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FontFamily" serializeAs="String">
                <value>Arial</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="showHitbox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hitboxR" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="hitboxG" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="hitboxB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VPointer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UndoSizeString" serializeAs="String">
                <value>100</value>
            </setting>
        </ZSpriteMaker.Properties.Settings>
    </userSettings>
</configuration>